/* Write your CSS here */

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.todo-title {
  font-size: 18px;
  color: #000000;
  margin: 0;
}

.delete-button {
  background-color: #ff0b37;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d80024;
}

.delete-button:active {
  background-color: #b0001b;
}

.delete-button:focus {
  outline: none;
}
